{% extends 'main/base.html' %}

{% load static %}
{% block title %}
Зарегистрироваться
{% endblock %}

{% block menu %}
<a class="item" href="/home">
    Домашняя
</a>
<div class="item">
    <div class="ui pointing dropdown item">
        Контракты
        <i class="dropdown icon"></i>
        <div class="menu">
        <div class="item">
            <a href="/contract/create">Создать</a> 
        </div>
        <div class="item">
            <a href="/contract/list">Список</a> 
        </div>
        </div>
    </div>  
</div>   


<script>
    $('.ui.dropdown').dropdown();
</script>

<div class="item">
    <a href="/app1/" class="ui item" >Аналитика</a>
</div>



<div class="right menu">

    <a class="ui item" href="/signup">
    Зарегистрироваться
    </a>
</div>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<h1 class="ui header" style="width: 10vw; margin-left: auto; margin-right: auto; margin-top: 25vh; margin-bottom: 0;">Авторизация</h1>


<form method="post" class="ui form" style="width: 30vw; margin-left: auto; margin-right: auto; margin-top: 2vh;">
    {% csrf_token %}
    {{form}}
    <input type="submit" class="ui primary button" value="Готово" style="margin-top: 2.5vh;">
</form>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
{% endblock %}
