{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Homepage
{% endblock %}

{% block menu %}
<a class="active item" href="/home">
    Домашняя
</a>
<div class="item">
    <div class="ui pointing dropdown item">
        Контракты
        <i class="dropdown icon"></i>
        <div class="menu">
        <div class="item">
            <a href="/contract/create">Создать</a> 
        </div>
        <div class="item">
            <a href="/contract/list">Список</a> 
        </div>
        </div>
    </div>  
</div>   
 
<script>
    $('.ui.dropdown').dropdown();
</script>


<div class="item">
    <a href="/app1/" class="ui item" >Аналитика</a>
</div>



<div class="right menu">


    {% if user.is_authenticated %}
    <a class="ui item" href="{% url 'logout' %}">Выйти</a>

    {% else %}
    <a class="ui item" href="{% url 'login' %}">Войти</a>
    <a class="ui item" href="/signup">
        Зарегистрироваться
    </a>
    {% endif %}

    
</div>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
    <div class="background">
        <div class="homepage_text">
            <h1 class="ui header" style="font-size: 65px;">
                Приветствую, {{ user.username|default:'Guest' }}
            </h1>
            <h3 class="ui header" style="font-size: 30px;">
                Добро пожаловать в наше приложение
            </h3>

        </div>
    </div> 
    

</body>
{% endblock %}
