{% extends 'main/base.html' %}

{% block menu %}
<a class="item" href="/home">
    Home
</a>
<div class="item">
    <div class="ui pointing dropdown item">
        Contracts
        <i class="dropdown icon"></i>
        <div class="menu">
        <div class="item">
            <a href="/contract/create">Create</a> 
        </div>
        <div class="item">
            <a href="/contract/list">List</a> 
        </div>
        </div>
    </div>  
</div>   
<div class="item">
    <div class="ui pointing dropdown item">
        Applications
        <i class="dropdown icon"></i>
        <div class="menu">
        <div class="item">
            <a href="/application/create">Create</a> 
        </div>
        <div class="item">
            <a href="/application/list">List</a> 
        </div>
        </div>
    </div>  
    <script>
        $('.ui.dropdown').dropdown();
    </script>
</div> 

<div class="item">
    Data
</div>

<div class="right menu">
    <div class="item">
    <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
    </div>
    </div>

    {% if user.is_authenticated %}
    <a class="ui item" href="{% url 'logout' %}">Logout</a>

    {% else %}
    <a class="ui item" href="{% url 'login' %}">Login</a>
    {% endif %}

    <a class="ui item" href="/signup">
    SignUp
    </a>
</div>
{% endblock %}


{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

{% if object_list %}
<h1 class="ui header" style="text-align: center; margin-left: auto; margin-right: auto; margin-top: 25vh; margin-bottom: 0;">Applications</h1>
<div class="ui list" style="margin-top: 3vh;">
    {% for application in object_list %}
        <div class="item" style="font-size: 20px; width: 50vw; margin-left: auto; margin-right: auto; margin-bottom: 1vh;">
            <i class="file alternate outline icon"></i>
          <div class="content"  style="word-wrap: break-word;">
            <a class="header" href="{% url 'application_detail' application.pk %}">{{application.number}}</a>
            <div class="description" style="word-break: break-all;">{{application.date_of_contract}}</div>
          </div>
        </div>
    {% empty %}
    <h2 class="ui header" style="text-align: center; margin-left: auto; margin-right: auto; margin-top: 40vh; margin-bottom: 0;">No application yet</h2>
    {% endfor %}

</div>
{% else %}
<h2 class="ui header" style="text-align: center; margin-left: auto; margin-right: auto; margin-top: 40vh; margin-bottom: 0;">No application yet</h2>
{% endif %}

{% endblock %}


