{% extends 'main/base.html' %}

{% block menu %}
<a class="item" href="/home">
    Домашняя
</a>
<div class="item">
    <div class="ui pointing dropdown item">
        Контракты
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item">
                <a href="/contract/create">Создать</a>
            </div>
            <div class="item">
                <a href="/contract/list">Список</a>
            </div>
        </div>
    </div>
</div>

<div class="item">
    <a href="/app1/" class="ui item" >Аналитика</a>
</div>


<script>
    $('.ui.dropdown').dropdown();
</script>



<div class="right menu">


    {% if user.is_authenticated %}
    <a class="ui item" href="{% url 'logout' %}">Выйти</a>

    {% else %}
    <a class="ui item" href="{% url 'login' %}">Войти</a>
    <a class="ui item" href="/signup">
        Зарегестрироваться
    </a>
    {% endif %}


</div>
{% endblock %}


{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

{% if object_list %}
<h1 class="ui header"
    style="text-align: center; margin-left: auto; margin-right: auto; margin-top: 25vh; margin-bottom: 0;">Контракты
</h1>
<div class="ui list" style="margin-top: 3vh;">
    {% for contract in object_list %}
    <div class="item" style="font-size: 20px; width: 50vw; margin-left: auto; margin-right: auto; margin-bottom: 1vh;">
        <i class="file alternate outline icon"></i>
        <div class="content" style="word-wrap: break-word;">
            <a class="header" href="{% url 'contract_detail' contract.pk %}">{{contract.title}}</a>
            <div class="description" style="word-break: break-all;">{{contract.text}}</div>
        </div>
    </div>

    {% empty %}
    <h2 class="ui header"
        style="text-align: center; margin-left: auto; margin-right: auto; margin-top: 40vh; margin-bottom: 0;">Контрактов нет</h2>
    {% endfor %}

</div>
{% else %}
<h2 class="ui header"
    style="text-align: center; margin-left: auto; margin-right: auto; margin-top: 40vh; margin-bottom: 0;">Контрактов нет</h2>
{% endif %}

{% endblock %}
